@import "generales";
@import "menu";



footer {
    grid-area: footer;
    background-color: rgb(83, 82, 81);
    color: rgba(15, 15, 15, 0.822);
}

footer h3{
    text-align: center;
    font-size: 15px;

}

.formulario {
    padding: 10px;
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    font-size: 15px;
}

.parrafo2 {
    display: flex;
    flex-direction: row;
    font-family: 300px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contacto {
    padding-top: 150px;
    padding-bottom: 30px;
    margin: 30px;

}

.salas {
    padding-top: 150px;
    font-size: 15px;
    margin: 20px;
}

.servicios {
    padding-top: 150px;
    font-size: 15px;
    margin: 15px;
    text-decoration: none;
    list-style: none;
}




@media only screen and (max-width: 480px) {
    .gridContainer {
        display: grid;
        grid-template-areas:
            "header"
            "menu"
            "parrafo"
            "img"
            "parrafo1"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.1fr 0.1fr 0.1fr;
    }
    .menu { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; } .toggle { order: 1; } .item.button { order: 2; } .item { width: 100%; text-align: center; order: 3; display: none; } .item.active { display: block; }


}